In [263]:
import pandas as pd
import numpy as np
import seaborn as sns

In [32]:
uri = "dados\csv.csv"
def conversor(uri):

    # Libraries
    import pandas as pd
    import numpy as np
    # import chardet # para buscar o encoding

    # with open(uri, 'rb') as csv_file:
    #     result = chardet.detect(csv_file.read())
    #     # print("The csv file encoding is",result['encoding'])


    names = np.arange(0, 16)

    df = pd.read_csv(uri, header=6, encoding='iso-8859-1', names=names)



    mylist = df.iloc[-1:].values.tolist().pop(0)

    
    df.columns = [str(i) for i in mylist]

    # Slice para excluir a última linha  
    df = df.iloc[:-1]

    # Slice para pegar todas as linhas e excluir as duas últimas colunas
    df = df.iloc[::,:-2]


    # df.columns = df.columns.map(lambda x: str(x))

    df = df.astype(float)

    df.iloc[-2, 1:] = df.iloc[-2, :-1].values

    df.iloc[-2, 0] = 0
    
    index = df.index.tolist()
    index.pop()
    df = df[1:]
    df.reset_index(drop=True, inplace=True)
    df.index = index
    return df

In [246]:
df = conversor(uri)

In [62]:
df

,0.0,750.0,1050.0,1250.0,1450.0,1550.0,1650.0,1750.0,1850.0,1950.0,2050.0,2150.0,2250.0,2350.0
125.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
110.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
100.000000,5.4,1.100000,2.500000,3.900000,1.400000,2.600000,6.400000,8.400000,9.900000,11.500000,12.100000,3.700000,0.0,0.0
95.000000,2.9,2.100000,4.900000,8.100000,7.500000,8.100000,7.300000,10.700000,12.800000,16.400000,18.799999,13.800000,0.0,0.0
90.000000,0.3,1.600000,2.000000,2.500000,1.400000,1.500000,2.500000,5.000000,5.000000,7.100000,7.800000,11.800000,0.0,0.0
80.000000,0.8,6.000000,7.500000,9.700000,5.600000,7.600000,12.300000,22.400000,20.299999,26.900000,23.299999,32.299999,0.1,0.0
70.000000,1.1,7.800000,12.700000,16.000000,8.700000,15.000000,25.400000,38.900002,26.600000,30.700001,22.200001,46.200001,0.4,0.0
60.000000,0.3,14.800000,26.299999,31.900000,17.600000,29.600000,45.000000,55.700001,35.599998,29.500000,20.299999,47.099998,1.7,0.0
50.000000,0.0,37.200001,66.099998,65.500000,29.400000,37.000000,50.000000,52.200001,35.099998,28.900000,19.400000,39.599998,4.0,0.0
40.000000,0.0,83.099998,167.699997,174.600006,61.400002,48.900002,62.099998,62.599998,41.799999,26.299999,16.100000,19.600000,4.4,0.0
30.000000,0.0,202.600006,345.399994,376.000000,125.400002,106.300003,83.099998,60.500000,35.400002,24.100000,14.500000,16.100000,5.6,0.0
20.000000,0.0,407.200012,366.899994,499.100006,200.000000,170.399994,102.000000,66.300003,34.400002,19.799999,11.200000,10.300000,5.0,0.0
10.000000,0.0,1578.699951,224.500000,275.000000,97.300003,57.099998,42.700001,28.400000,13.500000,7.500000,4.200000,2.800000,2.4,0.0
0.000000,0.1,30.600000,56.400002,71.300003,32.400002,26.799999,22.500000,17.799999,13.500000,9.800000,6.300000,3.300000,1.9,0.5

In [103]:
num_columns = len(df.columns)
num_rows = df.count().count()

In [131]:
for i in range(3):
    print(i)

0
1
2

In [235]:
color_df = conversor(uri)

for i in range(num_rows):
    while i < 10:
        for j in range(3):
            color_df.iloc[i,j] = "RED"
        break

    while i < 8:
        color_df.iloc[i, 3] = "RED"
        break

    while i < 6:
        color_df.iloc[i, 4] = "RED"
        break

    while i < 5:
        color_df.iloc[i, 5] = "RED"
        break

    while i < 4:
        color_df.iloc[i, 6] = "RED"
        break

    while i < 3:
        color_df.iloc[i, 7] = "RED"
        break

    while i < 2:
        for k in np.arange(8,num_columns):
            color_df.iloc[i, k] = "RED"
        break

    while i == 10:
        for l in range(4):
            color_df.iloc[i,l] = "YELLOW"
        break

    while i > 7 and i < 10:
        for m in np.arange(3, 5):
            color_df.iloc[i,m] = "YELLOW"
        break

    while i > 5 and i < 9:
        for n in np.arange(4, 6):
            color_df.iloc[i,n] = "YELLOW"
        break

    while i > 4 and i < 7:
        for n in np.arange(5, 7):
            color_df.iloc[i,n] = "YELLOW"
        break

    while i > 3 and i < 6:
        for n in np.arange(6, 8):
            color_df.iloc[i,n] = "YELLOW"
        break

    while i > 2 and i < 5:
        for n in np.arange(7, 10):
            color_df.iloc[i,n] = "YELLOW"
        break

    while i > 1 and i < 4:
        for n in np.arange(8, 11):
            color_df.iloc[i,n] = "YELLOW"
        break

    while i == 2:
        color_df.iloc[i, 11] = "YELLOW"
        break

    while i > 10:
        for n in np.arange(0, 5):
            color_df.iloc[i,n] = "GREEN"
        break

    while i > 9 and i < 13:
        for n in np.arange(4, 6):
            color_df.iloc[i,n] = "GREEN"
        break

    while i > 8 and i < 12:
        for n in np.arange(5, 7):
            color_df.iloc[i,n] = "GREEN"
        break

    while i > 6 and i < 11:
        for n in np.arange(6, 8):
            color_df.iloc[i,n] = "GREEN"
        break

    while i > 5 and i < 10:
        for n in np.arange(7, 9):
            color_df.iloc[i,n] = "GREEN"
        break

    while i > 4 and i < 9:
        for n in np.arange(8, 10):
            color_df.iloc[i,n] = "GREEN"
        break

    while i > 3 and i < 8:
        color_df.iloc[i, 10] = "GREEN"
        break

    while i > 2 and i < 7:
        color_df.iloc[i, 11] = "GREEN"
        break

    while i > 1 and i < 6:
        color_df.iloc[i, 12] = "GREEN"
        break

    while i > 1 and i < 5:
        color_df.iloc[i, 13] = "GREEN"
        break

    while i == 13:
        for n in np.arange(5, num_columns):
            color_df.iloc[i,n] = "ORANGE"
        break

    while i == 12:
        for n in np.arange(6, num_columns):
            color_df.iloc[i,n] = "ORANGE"
        break

    while i == 11:
        for n in np.arange(7, num_columns):
            color_df.iloc[i,n] = "ORANGE"
        break

    while i == 10:
        for n in np.arange(8, num_columns):
            color_df.iloc[i,n] = "ORANGE"
        break

    while i == 9:
        for n in np.arange(9, num_columns):
            color_df.iloc[i,n] = "ORANGE"
        break

    while i == 8:
        for n in np.arange(10, num_columns):
            color_df.iloc[i,n] = "ORANGE"
        break

    while i == 7:
        for n in np.arange(11, num_columns):
            color_df.iloc[i,n] = "ORANGE"
        break

    while i == 6:
        for n in np.arange(12, num_columns):
            color_df.iloc[i,n] = "ORANGE"
        break

    while i == 5:
        color_df.iloc[i, 13] = "ORANGE"
        break

color_df

,0.0,750.0,1050.0,1250.0,1450.0,1550.0,1650.0,1750.0,1850.0,1950.0,2050.0,2150.0,2250.0,2350.0
125.000000,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED
110.000000,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED,RED
100.000000,RED,RED,RED,RED,RED,RED,RED,RED,YELLOW,YELLOW,YELLOW,YELLOW,GREEN,GREEN
95.000000,RED,RED,RED,RED,RED,RED,RED,YELLOW,YELLOW,YELLOW,YELLOW,GREEN,GREEN,GREEN
90.000000,RED,RED,RED,RED,RED,RED,YELLOW,YELLOW,YELLOW,YELLOW,GREEN,GREEN,GREEN,GREEN
80.000000,RED,RED,RED,RED,RED,YELLOW,YELLOW,YELLOW,GREEN,GREEN,GREEN,GREEN,GREEN,ORANGE
70.000000,RED,RED,RED,RED,YELLOW,YELLOW,YELLOW,GREEN,GREEN,GREEN,GREEN,GREEN,ORANGE,ORANGE
60.000000,RED,RED,RED,RED,YELLOW,YELLOW,GREEN,GREEN,GREEN,GREEN,GREEN,ORANGE,ORANGE,ORANGE
50.000000,RED,RED,RED,YELLOW,YELLOW,YELLOW,GREEN,GREEN,GREEN,GREEN,ORANGE,ORANGE,ORANGE,ORANGE
40.000000,RED,RED,RED,YELLOW,YELLOW,GREEN,GREEN,GREEN,GREEN,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE
30.000000,YELLOW,YELLOW,YELLOW,YELLOW,GREEN,GREEN,GREEN,GREEN,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE
20.000000,GREEN,GREEN,GREEN,GREEN,GREEN,GREEN,GREEN,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE
10.000000,GREEN,GREEN,GREEN,GREEN,GREEN,GREEN,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE
0.000000,GREEN,GREEN,GREEN,GREEN,GREEN,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE,ORANGE

In [236]:
def add_color(x):
    if x == "RED":
        color = 'red'
    if x == "YELLOW":
        color = 'yellow'
    elif x == "GREEN":
        color =  'green'
    elif x == "ORANGE":
        color = 'brown'
    return f'background: {color}'

df.style.applymap(add_color)

In [237]:
color_df = pd.DataFrame("", index=df.index, columns=df.columns)

In [298]:
df = conversor(uri)



color_df = pd.DataFrame("", index=df.index, columns=df.columns)

for i in range(num_rows):
    while i < 10:
        for j in range(3):
            color_df.iloc[i,j] = "red" 
        break

    while i < 8:
        color_df.iloc[i, 3] = "red"
        break

    while i < 6:
        color_df.iloc[i, 4] = "red"
        break

    while i < 5:
        color_df.iloc[i, 5] = "red"
        break

    while i < 4:
        color_df.iloc[i, 6] = "red"
        break

    while i < 3:
        color_df.iloc[i, 7] = "red"
        break

    while i < 2:
        for k in np.arange(8,num_columns):
            color_df.iloc[i, k] = "red"
        break

    while i == 10:
        for l in range(4):
            color_df.iloc[i,l] = "yellow" 
        break

    while i > 7 and i < 10:
        for m in np.arange(3, 5):
            color_df.iloc[i,m] = "yellow"
        break

    while i > 5 and i < 9:
        for n in np.arange(4, 6):
            color_df.iloc[i,n] = "yellow"
        break

    while i > 4 and i < 7:
        for n in np.arange(5, 7):
            color_df.iloc[i,n] = "yellow"
        break

    while i > 3 and i < 6:
        for n in np.arange(6, 8):
            color_df.iloc[i,n] = "yellow"
        break

    while i > 2 and i < 5:
        for n in np.arange(7, 10):
            color_df.iloc[i,n] = "yellow"
        break

    while i > 1 and i < 4:
        for n in np.arange(8, 11):
            color_df.iloc[i,n] = "yellow"
        break

    while i == 2:
        color_df.iloc[i, 11] = "yellow"
        break

    while i > 10:
        for n in np.arange(0, 5):
            color_df.iloc[i,n] = "green"
        break

    while i > 9 and i < 13:
        for n in np.arange(4, 6):
            color_df.iloc[i,n] = "green"
        break

    while i > 8 and i < 12:
        for n in np.arange(5, 7):
            color_df.iloc[i,n] = "green"
        break

    while i > 6 and i < 11:
        for n in np.arange(6, 8):
            color_df.iloc[i,n] = "green"
        break

    while i > 5 and i < 10:
        for n in np.arange(7, 9):
            color_df.iloc[i,n] = "green"
        break

    while i > 4 and i < 9:
        for n in np.arange(8, 10):
            color_df.iloc[i,n] = "green"
        break

    while i > 3 and i < 8:
        color_df.iloc[i, 10] = "green"
        break

    while i > 2 and i < 7:
        color_df.iloc[i, 11] = "green"
        break

    while i > 1 and i < 6:
        color_df.iloc[i, 12] = "green"
        break

    while i > 1 and i < 5:
        color_df.iloc[i, 13] = "green"
        break

    while i == 13:
        for n in np.arange(5, num_columns):
            color_df.iloc[i,n] = "#D2691E" 
        break

    while i == 12:
        for n in np.arange(6, num_columns):
            color_df.iloc[i,n] = "#D2691E"
        break

    while i == 11:
        for n in np.arange(7, num_columns):
            color_df.iloc[i,n] = "#D2691E"
        break

    while i == 10:
        for n in np.arange(8, num_columns):
            color_df.iloc[i,n] = "#D2691E"
        break

    while i == 9:
        for n in np.arange(9, num_columns):
            color_df.iloc[i,n] = "#D2691E"
        break

    while i == 8:
        for n in np.arange(10, num_columns):
            color_df.iloc[i,n] = "#D2691E"
        break

    while i == 7:
        for n in np.arange(11, num_columns):
            color_df.iloc[i,n] = "#D2691E"
        break

    while i == 6:
        for n in np.arange(12, num_columns):
            color_df.iloc[i,n] = "#D2691E"
        break

    while i == 5:
        color_df.iloc[i, 13] = "#D2691E"
        break

In [301]:
# AI-Assisted

import pandas as pd

def format_cells_with_colors(df, color_df):
    # Mapping of color names to text colors
    color_map = {
        'red': 'white',
        '#D2691E': 'white',
        'green': 'white',
        'yellow': 'black',
        # Add more color mappings as needed
    }

    def apply_colors(_):
        styled_df = pd.DataFrame('', index=df.index, columns=df.columns)
        for row in range(color_df.shape[0]):
            for col in range(color_df.shape[1]):
                bg_color = color_df.iat[row, col]
                text_color = color_map.get(bg_color, 'black')  # Default text color is black if not found in the color_map
                styled_df.iat[row, col] = f"background-color: {bg_color}; color: {text_color};"
        return styled_df

    df_styled = df.style.apply(apply_colors, axis=None)
    return df_styled

In [302]:
formatted_df = format_cells_with_colors(df, color_df)
formatted_df